<!-- top navigation bar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">entwin.es beta</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/about.html">About</a></li>
              <li><a href="/create">Create</a></li>
              <li><a href="/">Join</a></li>
              <li class="dropdown">
                <a href="/" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/">Action</a></li>
                  <li><a href="/">Another action</a></li>
                  <li><a href="/">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="/">Separated link</a></li>
                  <li><a href="/">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <!--
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>-->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<!-- main body -->
 <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1>About Entwines</h1>
        </div>
        <p class="lead">Entwines is a thesis project from New York University's Interactive Telecommunications Program at the Tisch School of the Arts.</p>
        <p> It's a Twitter-based  news gathering service simple enough for anyone to investigate and report any story that interests them.</p>
        
        <h2>About the creator</h2>
        
        <p> Melissa dela Merced is a technology designer, educator, and filmmaker from Quezon City, Philippines. She's an advocate for free speech on the internet and government transparency. Co-founder of <a href="http://taopo.org">taopo.org</a>, a website dedicated to providing Filipinos an online space from social media movements to real action. She has spent more than 10 years in television in broadcast technology and design. She has taught classes and workshops at the <a href="http://filminstitute.upd.edu.ph/">University of the Philippines Film Institute</a>. A frequent traveller and photographer, she's also an avid gamer and comic book collector</p>
      </div>
      
      <h3>Other projects by Melissa</h3>
      <p><a href="http://scnery.com"> Scnery Project </a> </p>
      <p><a href="http://itp.nyu.edu/bigscreens/?p=142"> Big Screens: Naturopolis</a></p>
      <p><a href="http://vimeo.com/60528040"> Big Screens video</a></p>
      
      <p><a href="http://www.linkedin.com/in/mdelamerced"> Linked In Profile </a></p>
      
    

      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="muted credit"> </p>
      </div>
    </div>

