<div class="row">
	<div class="span8">
		<h3>{{page_title}}</h3>

		<form method="POST" action="/create">

			<label for="mainHeadline">
				{{#errors.mainHeadline}}
				<span class="help-block alert alert-error">{{type}}</span>
				{{/errors.mainHeadline}}

				Name <input type="text" name="mainHeadline" class="required" id="mainHeadline" value="{{main.mainHeadline}}" required>
				
			</label>
			
			<label for="imageLink"> Link an image <input type="text" name="imageLink" id="imageLink"></label>
			
			<label for="mainDescription"> Write a brief description <textarea type="text" name="mainDescription" id="mainDescription"> </textarea>

			
			<input type="submit" value="Create new article">

		</form>
	</div>
</div>





