<!-- top navigation bar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">entwin.es  <i>beta</i></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/about.html">About</a></li>
              <li><a href="/create">Create</a></li>
              <li><a href="/">Join</a></li>
              <li class="dropdown">
                <a href="/" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/">Action</a></li>
                  <li><a href="/">Another action</a></li>
                  <li><a href="/">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="/">Separated link</a></li>
                  <li><a href="/">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <!--
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>-->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<!-- main body -->

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span5">
      <!--left content-->
      <h3>@ {{main.searchGovt}} </h3>
				
			{{#govtF}}
			{{#user}}
			<form>
			<img src="{{profile_image_url}}">
			<label class="checkbox">
				<input type="checkbox" value="choice1">
				Select this to save and compare
				</label>
			
			{{/user}}

				<br>
				<blockquote>
				<label>
				<p>{{&text}}</p>
				<input type="hidden" name="text1" id="text1" value="{{&text}}">
				</blockquote>
				</label>
				
				<i>{{created_at}}</i>
				
				
				{{#entities}}
					{{#urls}}
						<a href="http://{{display_url}}">http://{{display_url}}</a>
					{{/urls}}
					{{#media}}
						<a href="http://{{media_url}}"><img src="{{media_url}}"></a>
					{{/media}}
				{{/entities}}
			</form>
			<hr>
			{{/govtF}}

			{{^govtF}}No tweets{{/govtF}}
    </div>
    <div class="span2">
     <!--middle content-->
    <h3>  VS </h3>
    	<a href="/main/{{main.slug}}/edit" class="btn btn-mini">edit</a>
    
    
	    <a href="https://twitter.com/share" class="twitter-share-button" data-via="entwinesit" data-hashtags="entwines" data-dnt="true">Tweet</a>
	    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


    	</div>
    <div class="span5">
      <!--right content-->
      
      <h3># <i>{{main.publicTweet}}</i> </h3>
		
				<br>
			{{#publicT}}
				<script type="text/javascript" src="/js/jquery.highlight-1.1.source.js">
				jQuery.$('p').highlight(["{{main.publicTweet}}"]);
				</script>
				<form>
				<label class="checkbox"><input type="checkbox" value="choice2">Select this to save and compare</label>
				<blockquote class="pull-right">
				<p>{{&text}}</p>
				</blockquote>
				<p class="text-right">
				<a href="https://www.twitter.com/{{user.screen_name}}">
				<p>	{{#user}}
			<img src="{{profile_image_url}}">
			{{/user}}<strong>{{user.name}}</strong></a><i>{{created_at}}</i>
			</p>
				
				{{#entities}}
					{{#urls}}
						<a href="http://{{display_url}}">http://{{display_url}}</a>
					{{/urls}}
					{{#media}}
						<a href="http://{{media_url}}"><img src="{{media_url}}"></a>
				</p>
					{{/media}}
				{{/entities}}
				
			
				<hr>
			{{/publicT}}

			{{^publicT}}No tweets{{/publicT}}

    </div>
   </div>

<!-- bottom -->

<div class="row-fluid">
	<!--<div class="class5">
	
	  <div class="span4">
      <!--right content-->
      	  <!--Edit feed-->
      	  
      	<h3>Comments</h3>
      	
      	 <div id="disqus_thread"></div>
      	 <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'entwines'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        
        <hr>
       </div>
  </div>

	<!-- left content -->
	
	<div class="span4">
		<h3>News feed from the New York Times</h3>
		
		{{#newsD}}
			<a href="{{url}}"><strong>{{title}}</strong></a>
			<p>{{date}}</p>
			<p>{{&body}}</p>
		
		<br>
		
		{{/newsD}}
		
		{{^newsD}}No News Articles {{/newsD}}	
		
		<hr>
	</div>

	
	<div class="span4">
	
		<h3>Available Topics</h3>
		
		{{#maines}}
		<li>
			<a href="/main/{{slug}}">{{mainHeadline}}</a>
		</li>
		{{/maines}}

		<br>
		<a href="/create">Add a new topic</a>
		<p><a href="/"> Back to home</a></p>
	
	<hr>
	</div>

	</div>
	
	</div>
	
