<!-- top navigation bar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">entwin.es</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/about">About</a></li>
              <li><a href="/create">Create</a></li>
              <li><a href="/">Join</a></li>
              <li class="dropdown">
                <a href="/" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/">Action</a></li>
                  <li><a href="/">Another action</a></li>
                  <li><a href="/">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="/">Separated link</a></li>
                  <li><a href="/">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<!-- main body -->

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <!--left content-->
      <h3>Twitter feed of {{main.searchGovt}}</h3>
		
				<br>
			{{#govtF}}
				<i>{{created_at}}</i>
				<p>{{text}}</p>
			<hr>
			{{/govtF}}

			{{^govtF}}No tweets{{/govtF}}
    </div>
    <div class="span4">
      <!--middle content-->
      <h3>Recent Public Twitter feed</h3>
		
		<h4> Searching for <i>{{main.publicTweet}}</i></h4>
		
				<br>
			{{#publicT}}
				<i>{{created_at}}</i>
				<a href="https://www.twitter.com/{{user.screen_name}}">
				<p><strong>{{user.name}}</strong></p></a>
				<p>{{text}}</p>
				<p><a href="{{entities.media.url}}">{{entities.media.display_url}}</a></p>
				<p><a href="{{entities.media_url}}"><img src="{{entities.media.url}}"+":thumb"></a></p>
			<hr>
			{{/publicT}}

			{{^publicT}}No tweets{{/publicT}}

    </div>
     <div class="span4">
      <!--right content-->
      	<h3>Comments</h3>
		{{#main.userPosts}}
			<strong>{{userName}}</strong><br>
			<p>{{userText}}</p>
			<hr>
		{{/main.userPosts}}

		{{^main.userPosts}}No posts{{/main.userPosts}}

		<a href="#myModal" role="button" class="btn" data-toggle="modal">Add More</a>

		<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

			<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			    <h3 id="myModalLabel">Add to this</h3>
		  	</div>
		  	<div class="modal-body">
				<form method="POST" action="/main/{{main.slug}}/addpost" id="uPost">
					<legend>Comments</legend>
					<div>
						<label for="userName">Username</label>
						<input id="userName" name="userName" required></input>
						
					</div>

					<div>
						<label for="userText">Text</label>
						<textarea name="userText" id="userText" required></textarea>
						
					</div>
				
					<input type="submit" value="Add More" class="btn btn-primary">
				</form>
			</div>
		</div>
	</div>

    </div>
  </div>
</div>

<!-- bottom -->

<div class="row">
	<div class="class5">
	<!-- left content -->
	</div>
	
	<div class="class5">
	<!-- middle content -->
	</div>
	
	</div>