<!-- Fixed navigation bar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">entwinesProject name</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">About</a></li>
              <li><a href="/">About</a></li>
              <li><a href="/">Join</a></li>
              <li class="dropdown">
                <a href="http://twitter.github.io/bootstrap/examples/hero.html#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="http://twitter.github.io/bootstrap/examples/hero.html#">Action</a></li>
                  <li><a href="http://twitter.github.io/bootstrap/examples/hero.html#">Another action</a></li>
                  <li><a href="http://twitter.github.io/bootstrap/examples/hero.html#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="http://twitter.github.io/bootstrap/examples/hero.html#">Separated link</a></li>
                  <li><a href="http://twitter.github.io/bootstrap/examples/hero.html#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>





<div class="row">
	<div class="span8">
		<h3>{{page_title}}</h3>

		<form method="POST" action="/main/{{main.slug}}/edit">

			<label for="searchGovt">@<input type="text" name="searchGovt" id="searchGovt" value="{{main.searchGovt}}" required></label>
			
			<label for="publicTweet">#<input type="text" name="publicTweet" id="publicTweet" value="{{main.publicTweet}}" required></label>
						
			<input type="submit" class="btn btn-large btn-primary" value="Submit changes">

		</form>

		<hr>

		<a href="/main/{{main.slug}}/delete" class="btn btn-danger">Delete record</a>
	</div>
</div>






