<div class="row">

	<div class="span6">

		<h1>Bactwack</h1>
		
		<!--<img src="http://i.imgur.com/ASfCs.gif" alt="Space shuttle animated gif crossing an LA highway"> -->
		
		<hr>

		<h3>{{pageTitle}}</h3>

		<!-- mainHeadline loop -->
		{{#maines}}
		
		<li><a href="/main/{{slug}}">{{mainHeadline}}</a></li>
		
		{{/maines}}

		<hr>
		<p>
			<a href="/create">Create a new article</a>
		</p>
		
		<p>
			<a href="/data/main">Backtwack JSON</a>
		</p>
	</div>






	<!-- right column -->
	<div class="span6">
		</div>


</div>