<!-- top navigation bar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">entwin.es</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/about">About</a></li>
              <li><a href="/create">Create</a></li>
              <li><a href="/">Join</a></li>
              <li class="dropdown">
                <a href="/" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/">Action</a></li>
                  <li><a href="/">Another action</a></li>
                  <li><a href="/">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="/">Separated link</a></li>
                  <li><a href="/">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

  <!-- main body -->
    <div class="container">
    <div class ="row">
	<div class="hero-unit">    

    <form class="form-inline" method="POST" action="/create">
			
			<h3>@ + #</h3>
			<p>What is going on in the world around you?</p>
			<label for="searchGovt"> 			
				
			@	<input class="input-big" type="text" name="searchGovt" id="searchGovt" value="{{main.searchGovt}}" required>
	<!--			{{#errors.searchGovt}}
				<span class="help-block alert alert-error">{{type}}</span>		
				{{/errors.searchGovt}} -->
			</label>
			
				vs
			
			<label for="publicTweet">
		
			#	<input class="input-big" type="text" name="publicTweet" id="publicTweet" value="{{main.publicTweet}}" required>
			<!--		{{#errors.publicTweet}}
				<span class="help-block alert alert-error">{{type}}</span>
				{{/errors.publicTweet}}-->
			</label>
			</h3>
			<button type="submit" class="btn btn-large btn-primary" type="button">See the feed</button>
			
	</form>
    </div>
    </div>
    </div>
  

      <!-- row of columns -->
    <div class="container">
    <h2> Available Topics </h2>
{{#maines}}

	<ul class="inline">
		<li>  
			<a href="/main/{{slug}}">
				<h4> {{mainHeadline}} </h4>
			</a>
			
	  	</li>
    </ul>	
{{/maines}}
	</div> 