<!-- top navigation bar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">entwin.es  <i>beta</i></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/about.html">About</a></li>
              <li><a href="/create">Create</a></li>
        <!--      <li><a href="/">Join</a></li>
              <li class="dropdown">
                <a href="/" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/auth/twitter">Sign in with Twitter</a></li>
                  <li><a href="/">Another action</a></li>
                  <li><a href="/">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="/">Separated link</a></li>
                  <li><a href="/">One more separated link</a></li>
                </ul>
              </li>-->
            </ul>
             <!--
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>-->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

  <!-- main body -->
    <div class="container">
    <div class ="row">
	<div class="hero-unit">    

    <form name="frontcreate" class="form-inline" method="POST" action="/create">
			
			<h3>@ + #</h3>
			<p>What is going on in the world around you? </p>
			<p>Compare Twitter feeds from two different sources.</p>
			
			
			<label for="searchGovt"> 			
				{{#errors.searchGovt}}
				<span class="help-block alert alert-error">{{type}}</span>
				{{/errors.searchGovt}}
			@	<input class="required" type="text" name="searchGovt" id="searchGovt" value="{{main.searchGovt}}" required>
				
	<!--
				<span class="help-block alert alert-error">{{type}}</span>		
				 -->
			</label>
			
				vs
			
			<label for="publicTweet">
		
		
				{{#errors.publicTweet}}
				<span class="help-block alert alert-error">{{type}}</span>
				{{/errors.publicTweet}}
			#	<input class="required" type="text" name="publicTweet" id="publicTweet" value="{{main.publicTweet}}" required>
			</label>
			</h3>
			<button type="submit" class="btn btn-large btn-primary" type="button">See the feed</button>
			
	</form>
    </div>
    </div>
    </div>
  

      <!-- row of columns -->
    <div class="container">
    <div class="row-fluid">
    <div class="span3">
    <h2> Available Topics </h2>
{{#maines}}

	<ul class="inline">
		<li>  
			<a href="/main/{{slug}}">
				<h4> {{mainHeadline}} </h4>
			</a>
			
	  	</li>
    </ul>	
{{/maines}}
    </div>
    
    <div class="span4">
    </div>
    
    <div class="span4">
    
    <a class="twitter-timeline" href="https://twitter.com/entwinesit" data-widget-id="331224354903949312">Tweets by @entwinesit</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	
    </div>
	</div> 
	</div>