

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
   .body {
	   background-color:#0aa994;
	   
   }
   
   
   .navbar-inner {
	   background-color:#0e7a72;   
	   
   }
   
   .thumbnails {
	   background-color: #ffffff;
	   
	   
   }
   
   


















